* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*
  * is global selector
*/
body{
display: flex;
flex-direction: column;
padding: 0 10em;
gap: 1em;
height: 100vh;
background-color: green ;


}



header, main, footer {
  border: solid black;
  background-color: brown;
}

main {
  flex-grow: 2;

}

footer {
  flex-grow: 1;
}
header{
  flex-grow: 1;
}